#planeNav{
	height: 50px;
	width:  50px;
	margin: 15px 15px;

}
.instruction{
	color: white;
	text-align: right;
	text-shadow: 2px 2px red;
}
.instruction>span{
	background-color: red;
}


.views >p> span{
	background-color: rgba(0,0,0 ,0.7);
	border-radius: 5px;
	padding: 2px;
	cursor: alias;
}
.plane-img-con{
	height: 80px;
	width: 80px;
	background-color: rgba(0,0,0 ,0.7);
	float: right;
	margin-right: 20px;
	margin-bottom: 20px;
	border-radius: 50%;
	border: 1px solid #ffffff;
	overflow: hidden;
}
#planeCon{
	position: absolute;
}
#plane-nav{
	min-height: 8vh;
	min-width: 40%;
	margin-left:60%;
}

.views{
	color: #ffffff;
	padding-right: 35px;
	padding-bottom: 0px;
	font-size: 20px;
	text-shadow: 2px 2px rgba(0,0,0 ,0.7);

	
}
.views > p{
	text-align: right;
	overflow: hidden;
}


/*fonts*/
body{
	background-image: url("../images/bg3.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.visit-a{	
	text-decoration: none;
	/*transition: 0.3s;*/
}
div>a{
	color: #ffffff;
	text-decoration-line: none;
}


.title{
font-family: 'Roboto', sans-serif;
font-size: 50px;
color: #ffffff;
}

.letter{
	font-size: 39px;
	color: #ffffff;
}


#g-projects{
	color: #ffffff;
	font-size: 30px;
	border: 1px solid white;
}
#g-projects:hover{
	border: 1px solid #2884f2;
	color: #2884f2;
	transition: 1s;
}
#g-projects:not(:hover){
	transition: 1s;
}

#submit{
	color: #ffffff;
	font-size: 25px;
	border: 1px solid white;
}
#submit:hover{
	border: 1px solid #2884f2;
	color: #2884f2;
	transition: 1s;
}
#submit:not(:hover){
	transition: 1s;
}

.bg-b{
	background-color: rgba(0,0,0 ,0.4);
	padding: 5px 20px;
}

.cont-h{
	position: relative;
	padding: 0;
	margin: 0;
	min-height: 100vh;
	background-color: rgba(0,0,0 ,0.4);

}
#particles-js{
	position: fixed;
}

#main-bg{
	display: none;
	z-index: 7;
}

#contact-sec{
	padding-top: 10vh;
	min-height: 100vh;
}


.con-h-2{
	position: relative;
	padding: 0;
	margin: 0;
	height: 50vh;
}

.wite{
	color: #ffffff;
}

.btn-p{
	border: 2px solid #ffffff;
	color: #ffffff;
}

.center{
	margin: 0 auto;
}

.cont{
	min-height:100vh;
}

.check1{
	border:1px solid red;
}
.check2{
	border: 1px solid yellow;
}

.sec-1{
	position: absolute;
	z-index: 2;
}

.sec-up{	
	padding-top:35vh;
	min-height: 100vh; 
}



.sec-b{
	min-height: 100vh;
}

#about-con{
	padding-top: 10vh;
	min-height: 100vh;

}


.img-s{
	height: 50vh;
	width: 100%;
	padding-top: 3vh;
}

.ps{
	font-size: 25px;
}
.sk-s{
	height: 150px;
	width: 150px;
}
.sk-php{
	height: 150px;
	width: 200px;
}
.t-con-p{
	margin: 0 15px;
}

.notification{
	color: #76FF03;
}
.warning{
	color: #FF3D00;
}

.b-b{
	border-bottom: 1px solid black;
}

label{
	font-size: 20px;
}
.h-lan{
	min-height: 20vh;
}

#footer{
	min-height: 18vh;
	background-color: rgba(0,0,0,1);
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	color: #ffff;
	padding: 10px;
}
.fa-github{
	font-size: 20px;
}

	/*end of css decalarations*/


	/* custom media queries */







@media only screen and (min-width: 355px) and (max-width: 769px) {

body{
	background: url(../images/bg9.jpg);
	background-position: right;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	height: 100vh;
}
.plane-img-con{
	height: 50px;
	width: 50px;
	background-color: rgba(0,0,0 ,0.7);
	float: right;
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: 50%;
	border: 1px solid #ffffff;
	overflow: hidden;
}
#planeNav{
	height: 30px;
	width:  30px;
	margin: 10px 10px;
}

.views{
	color: #ffffff;
	padding-right: 10px;
	padding-bottom: 0px;
	font-size: 25px;
	text-shadow: 2px 2px rgba(0,0,0 ,0.7);	
}
.instruction{
	text-align: center;
	margin-left: 3px;
}
#project-sec, #contact-sec{
	margin-top: 10vh;
}

.letter{
	font-size: 19px;
}
.title{
	font-size: 25px;
}
#g-projects{
	font-size: 15px;
}
.btn-p{
	margin-top: 5px;
}
.btn-con{
	margin: 0 auto;
	width: 100%;
}
.b-cont{
	margin-top: 7vh;
}


.ps{
	font-size: 15px;
}

#contact-sec{
	padding-top: 5vh;
}

.img-s{
	height: 30vh;
	width: 100%;
	padding-top: 3vh;
	margin: 0 10px;
}

.bg-b{
	margin: 0 10px;
}
p{
	font-size: 13px;
}
.t-s{
	font-size: 20px;
}
label{
	font-size: 15px;
}
#submit{
	font-size: 15px;
}

}


@media only screen and (min-width: 639px) and (max-width: 670px){
.img-ex{
height: 80vh;
}
#project-sec{
	padding-top: 5px;
}
#contact-sec{
	margin: 15vh;
}

#about-con{
	padding-top: 10vh;
}
#profile{
	margin-top: 25px;
}

}

@media only screen and (min-width: 730px) and (max-width: 731px){
.img-ex{
height: 80vh;
}
#project-sec{
	margin-top: 25px;
	padding-top: 10px;
}
#about-con{
	padding-top: 10vh;
}
#profile{
	margin-top: 25px;
}

}

/*Tablet Styles*/

@media only screen and (min-width: 500px) and (max-width: 780px) {

#a-q{
	margin: 0 24px;
}
.letter{
	font-size: 34px;
}
.title{
	font-size: 35px;
	padding: 1vh 0px;
}
.bg-b{
	padding: 5px 20px;
	margin: 0 25px;
}
.bg-img{
	padding: 5px 20px;
}
#img-i{
	width: 85%;
	margin: 0 auto; 
}
.img-s{
	min-height: 35vh;
	width: 100%;
	padding-top: 3vh;
}

}

	/*Desktop Styles*/

	@media only screen and (min-width: 900px) {

.m-top{
	margin-top: 20px;
}


}